/*
	font-family: 'Bungee', cursive;
	font-family: 'Kanit', sans-serif;
	font-family: 'Righteous', cursive;
	font-family: 'Cinzel', serif;
	font-family: 'Overpass', sans-serif;
	font-family: 'Josefin Sans', sans-serif;
	font-family: 'Fredoka One', cursive;
	font-family: 'VT323', monospace;
	font-family: 'Audiowide', cursive;
*/

/* style reset */
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-style: "Roboto", sans-serif;
	/* border: 1px solid red; */
}
/* general rules */
footer {
  	width: 100%;
  	height: 30px; /* Set the fixed height of the footer here */
  	font-size: 16px;
	text-align: center;
	color:white;
	font-family: 'VT323', monospace;
	text-shadow: 1px 1px 4px rgba(250,250,250,1);
}

.retro{
	font-size: 50px;
	margin-top: 100px;
	font-family: 'Audiowide', cursive;
	text-shadow: 1px 1px 4px rgba(250,250,250,1);
}

.logo{
	color: white;
	font-size: 25px;
	text-align: left;
	font-family: 'VT323', monospace;
	text-shadow: 1px 1px 4px rgba(250,250,250,1);
}

.etc{
	color:red;
}

.info{
	margin: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: lightgray;
	font-size: 15px;
	text-align: left;
	font-family: 'Audiowide', cursive;
	text-shadow: 1px 1px 4px rgba(250,250,250,1);
}

.flt-icon {
	height: 40px;
  	width: 40px;
  	margin-left: -5px;
  	padding-left: 0px;
  	padding-top: 0px;
  	color: white;
  	background-color: rgba(35,35,35,1);
  	box-shadow: 1px 1px 4px rgba(250,250,250,1);
  	border-radius: 20%;
  	display: inline-block;
}

.fe-icon {
	height: 55px;
  	width: 55px;
  	margin: 10px;
  	padding-left: 0px;
  	padding-top: 5px;
  	color: black;
  	background-color: rgba(100,100,100,0.8);
  	border-radius: 15%;
  	box-shadow:1px 1px 4px rgba(0,0,0,1);
  	display: inline-block;
}